.scrollable-grid {
  overflow: scroll !important;
}

.explanation {
  .title {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
    //width: 100%;
  }

  .text {
    text-align: justify;
    max-width: 450px;
    font-family: 'Raleway', sans-serif;
    display: block;

    p {
      display: block;
    }
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.logo {
  max-width: 240px;
  max-height: 240px;
}

.section-image-block {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 300px;
    max-width: 300px;
    padding: 0 5%;
  }
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 4%;
  padding-right: 4%;

  div {
    display: inline-flex;
    justify-content: center;
    flex-shrink: 1;
  }

  .logo-block {
    max-width: 400px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
  }

  .top-title {
    flex-grow: 1;
  }
}

.page {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

html, body {
  height: 100%;
}

.tight-container {
  .explanation {
    max-width: 800px;
  }
}

.smiley {
  display: none;
  max-height: 1.2em;
}